#page-container {
    display:flex;
    width:100%;
    height:100vh;
    font-family:Roboto;
}

nav {
    width:25vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    gap:35px;
    align-items:center;
    background-color:#4b9fe3;
    color:white; 
    font-weight:1000;
}

#content {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
}

#nav-title {
    width:80%;
    height:50px;
    display:flex;
    align-items:center;
    gap:5px;

}

#nav-one {
    width:80%;
    height:35%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    font-size:16px;
}

#nav-two {
    width:80%;
    height:17%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    font-size:16px;
}

#header {
    width:100%;
    height:17%; 
    background-color:white;
    display:flex;
    flex-direction:column;
    box-shadow:0px 3px silver;
    z-index:3;
}

#main-body {
    width:100%;
    height:83%;
    display:flex;
    background-color:#ebe8e8;
}

#project-section {
    width:70%;
    height:100%; 
    display:flex;
    flex-direction:column;

}

#side-sections {
    width:30%;
    height:100%;
    display:flex;
    flex-direction:column;


}

.menu-items {
    display:flex;
    align-items:center;
    gap:5px;
} 

#top-row {
    height:40%;
    width:100%
    font-size:2px;
    display:flex;
}

#bottom-row {
    height:60%;
    width:100%;
    display:flex;
}

#search-bar {
    display:flex;
    font-size:8px;
    width:70%;
    align-items:center;
}

#search-bar input {
    background-color:#ebe8e8;
    width:68%;
    height:25px;
    margin-left:12px;
    border-radius:15px;
} 

#search-bar span {
    margin-left:23px;
} 

#top-right {
    display:flex; 
    font-size:8px;
    width:30%;
    align-items:center;
    gap:15px;
    
}

#top-right img {
    width:40px;
    height:40px;
    border-radius:20px;
    overflow:hidden;
}

#bottom-left {
    display:flex;
    width:56%;
    height:100%;
    align-items:center;
}

#home-username {
    font-size:20px;
    font-weight:bold;
}

#bottom-left p {
     font-size:10px;
     font-weight:bold;
} 
#welcome-message {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:5px;
} 

#buttons {
    display:flex;
    width:42%;
    height:100%;
    justify-content:left;
    align-items:center;
    gap:20px;
}

#buttons button {
    width:100px;
    height:35px;
    font-size:15px;
    background-color:#4b9fe3;
    color:white;
    border-radius:17px;
} 

#bottom-left img {
    width:60px;
    height:60px;
    border-radius:30px;
    margin-left:45px;
} 
    
#projects-grid {
    width:90%;
    height:90%;
    align-self:center; 
    display:grid;
    grid-template-columns:repeat(2,50%);
    grid-template-rows:repeat(3,1fr);
    gap:15px;
    margin-left:2%;
}

#project-section h1 {
    color:#424242;
    font-size:13px;
    margin-left:35px;
    margin-top:20px;
    
}  


.project {
    border-left:5px solid orange;
    background-color:white; 
    border-radius:6px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    box-shadow:2px 2px 3px silver;
}

#p1 {
    grid-column:1/2;
    grid-row:1/2;
}


#p2 {
    grid-colum:2/3;
    grid-row:1/2;
}

#p3 {
    grid-column:1/2;
    grid-row:2/3;
}

#p4 {
    grid-column:2/3;
    grid-row:2/3;
}

#p5 {
    grid-column:1/2;
    grid-row:3/4;
}

#p6 {
    grid-column:2/3;
    grid-row:3/4;
}

.project p span{
    font-size:15px;
    color:black;
}

.project p {
    font-size:13px;
    width:90%;
    margin-left:9px;
    color:gray;

} 

.project-buttons {
    display:flex;
    width:90%;
    justify-content:right;
    margin-right:15px;
    gap:10px;
} 

.project-buttons span {
    color:black;
} 

.project-buttons span:last-child {
    transform:rotateZ(270deg);
} 

#side-grid {
    width:80%;
    height:95%;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    justify-content:space-between;
    margin-left:5%;   
}
 
#announcement-section {
    width:100%;
    height:45%;
    border-radius:5px;
    background-color:white;
    display:flex;
    justify-content:center;
    box-shadow:3px 3px 3px silver;
} 

#trending-section {
    width:100%;
    height:45%;
    border-radius:5px;
    background-color:white;
    display:flex;
    flex-direction:column;
    box-shadow:2px 2px 3px silver;
}

#announcement-grid {
    width:75%;
    height:85%;
    align-self:center;
    display:flex;
    flex-direction:column;    
} 

.trend {
    width:100%;
    height:25%;
    display:flex;
    align-items:center;
    gap:15px;
} 

.trend img {
    width:40px;
    height:40px;
    margin-left:15px;
    border-radius:20px;
} 

.trend p {
    width:60%;
    height:40px;
    font-weight:500;
    font-size:12px;
    color:gray;
}

.trend span {
    font-weight:500;
    font-size:14px;
    color:black;
} 

.announcements {
    height:33%;
    width:100%;
}
.announcements h1 {
    font-size:15px;
}

.announcements p {
    font-size:10px;
    color:gray;
}   

#announce-2 {
    border-top:1px solid black;
    border-bottom:1px solid black;
} 

#side-title-1 {
    position:relative;
    font-size:13px;
    color:#424242;
    width:100%;
} 

#side-title-2 {
    position:relative;
    font-size:13px;
    color:#424242;
    width:100%;
} 
